@using Blazorise;
@using dormitoryApps.Client.Services;
@using dormitoryApps.Shared.Model.Entity;
@using dormitoryApps.Shared.Model.Other;
@using System.Globalization;
@inject OfficerServices _officerServices;

@code {
    Modal e;
    bool expiredMode;
    Officer officer = new Officer();
    string remark =string.Empty;
    bool reset = false;
    private dormitoryApps.Client.Pages.Modal.Success success;
    private dormitoryApps.Client.Pages.Modal.Error error;
    public async void Show(long officerId)
    {
        officer = await _officerServices.GetById(officerId);
        expiredMode = !officer.Expired;
        await e.Show();
        await InvokeAsync(StateHasChanged);
    }
    private void ResetChanges(ChangeEventArgs e)
    {
        reset = e.Value.ToString().ToLower() == "true".ToLower() ? true : false;
    }
    private async void SaveChanges()
    {
        try
        {
            bool res;
            if(expiredMode)
            {
                res = await _officerServices.ExpiredOfficer(officer.Id, remark);
            }
            else
            {
                res = await _officerServices.RestoreOfficer(officer.Id,reset);
            }
            if(res)
            {
                success.NextRequired = false;
                success.Details = "บันทึกเรียบร้อย";
                success.Open();
                await e.Hide();
            }
            else
            {
                error.Details = "บันทึกไม่สำเร็จ";
                error.Open();
            }
        }
        catch(Exception x)
        {
            error.Details = x.Message;
            error.Open();
        }
        await InvokeAsync(StateHasChanged);
    }

}
<Modal Style="color:black" @ref="e">
    <ModalContent>
        <ModalHeader>
            <ModalTitle></ModalTitle>
            <CloseButton></CloseButton>
        </ModalHeader>
        <ModalBody>
            @if (expiredMode)
            {
                <center>
                    <h1>ปรับการพ้นสภาพ</h1>
                    <h2>ชื่อ : @(officer.Firstname+" "+officer.Surname)</h2>
                </center>
                <div class="form-group">
                    <label for="textarea">เหตุผลในการพ้นสภาพ</label>
                    <textarea id="textarea" @bind="remark" cols="40" rows="5" class="form-control">
                        </textarea>
                </div>
            }
            else
            {
                <center>
                    <h1>คืนสภาพพนักงาน</h1>
                    <h2>ชื่อ : @(officer.Firstname+" "+officer.Surname)</h2>
                </center>
                <div class="form-group">
                    <div>
                        <div class="custom-controls-stacked">
                            <div class="custom-control custom-checkbox">
                                <input id="checkbox_0" type="checkbox" class="custom-control-input" value="true" @onchange="ResetChanges" >
                                <label for="checkbox_0" class="custom-control-label">Reset Register Date</label>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </ModalBody>
        <ModalFooter>
            <Button Class="btn btn-primary" @onclick="SaveChanges">@(expiredMode ? "ปลดพนักงาน" : "คืนสภาพพนักงาน")</Button>
            <Button Class="btn btn-secondary" @onclick="()=>e.Hide()">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
<dormitoryApps.Client.Pages.Modal.Success @ref="success"/>
<dormitoryApps.Client.Pages.Modal.Error @ref="error"/>