@page "/Ofiicer"

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<center>
    <h1>ระบบเจ้าหน้าที่</h1>
</center>

<center>
<form style="" >
    <div style="width:60%">
  <div class="form-group row">
    <label for="text" class="col-4 col-form-label">ชื่อผู้ใช้ หรือ Email</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-address-card"></i>
          </div>
        </div> 
        <input id="user" @bind="@Username" type="text" @oninput="@(val=> Username=(string)val.Value)" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="text1" class="col-4 col-form-label">รหัสผ่าน</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-key"></i>
          </div>
        </div> 
        <input id="pass" @bind="@Password" @oninput="@(val=> Password=(string)val.Value)" type="password" class="form-control">
      </div>
    </div>
  </div> 
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button name="submit" type="button" @onclick="Usersubmit" class="btn btn-primary">เข้าใช้งาน</button>
    </div>
  </div>
  </div>
</form>
</center>
@code {
    public string Username { get; set; }
    public string Password { get; set; }
    private void Usersubmit()
    {
        Console.WriteLine(Username);
        Console.WriteLine(Password);
    }
}

