@page "/Officer"
@using dormitoryApps.Client.Services;
@using Blazored.SessionStorage;
@using Blazored.LocalStorage;
@inject OfficerServices officerServices;
@inject SweetAlertService Swal;
@inject ISessionStorageService sessionStorageService;
@inject SessionServices sessionServices;
@inject ILocalStorageService _localStorageService;
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" /> 
@inject IJSRuntime js
@inject NavigationManager navigationManager;

<center>
    <h1>ระบบเจ้าหน้าที่</h1>
</center>
<br />
<br />
<center>
<form style="" >
    <div style="width:60%">
  <div class="form-group row">
    <label for="text" class="col-4 col-form-label">ชื่อผู้ใช้ หรือ Email</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-address-card"></i>
          </div>
        </div> 
        <input id="user" @bind="@Username" type="text" @oninput="@(val=> Username=(string)val.Value)" class="form-control">
      </div>
      <small style="display:@(userrequired ? "block":"none");color:red;font-weight:bold">ต้องกรอกชื่อผู้ใช้</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="text1" class="col-4 col-form-label">รหัสผ่าน</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-key"></i>
          </div>
        </div> 
        <input id="pass" @bind="@Password" @oninput="@(val=> Password=(string)val.Value)" type="password" class="form-control">
      </div>
      <small style="display:@(passrequired ? "block":"none");color:red;font-weight:bold">ต้องกรอกรหัสผ่าน</small>
    </div>
  </div> 
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button name="submit" type="button" @onclick="Usersubmit" class="btn btn-primary">เข้าใช้งาน</button>
      <button name="submit" type="button" onclick="window.location.href='/Officer/Registerd'" class="btn btn-secondary">ลงทะเบียน</button>
    </div>
  </div>
  </div>
</form>
</center>

<dormitoryApps.Client.Pages.Officer.Modal.Incomplete @ref="modal">

</dormitoryApps.Client.Pages.Officer.Modal.Incomplete>


@code {
    ElementReference Logging;
    private dormitoryApps.Client.Pages.Officer.Modal.Incomplete modal{ get; set; }
    public string Username { get; set; }
    public string Password { get; set; }
    string Logclass = "display:none";
    bool passrequired = false;
    bool userrequired = false;
    private async void Usersubmit()
    {
        Logclass = "display:block";
        userrequired = string.IsNullOrEmpty(Username);
        passrequired = string.IsNullOrEmpty(Password);
        if(userrequired || passrequired)
        {
            await InvokeAsync(StateHasChanged);
            return;
        }
        var res = await officerServices.GetLogin(username: Username, password: Password);
        Console.WriteLine(res);
        if(!res)
        {
            modal.IsExpired = false;
            modal.Open();
            return;
        }      
        var currentUser = await officerServices.GetByUsername(Username);
        if(currentUser.Expired && !currentUser.Issuper)
        {
            modal.IsExpired = true;
            modal.Open();
            return;
        }
        string sessionId = await sessionServices.CreateLogin(currentUser.Id);
        await sessionStorageService.SetItemAsStringAsync("Id", sessionId);
        await _localStorageService.SetItemAsStringAsync("Id", sessionId);
        Console.WriteLine("Login Successful");
        navigationManager.NavigateTo("/",true);

    }
    private async void PassInc()
    {
         Console.WriteLine(Swal);
            await Swal.FireAsync("Hello world!");
    }
}

