@using Blazorise;

@code {
    Modal e;
}
<Modal @ref="e" Style="color:black">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>
                เปลี่ยนรหัสผ่าน
            </ModalTitle>
            <CloseButton></CloseButton>
        </ModalHeader>
        <ModalBody>
            <center>
                <h1>เปลี่ยนรหัสผ่าน</h1>
            </center>
            <dormitoryApps.Client.Pages.Profile.Shared.ChangePassword @ref="password"></dormitoryApps.Client.Pages.Profile.Shared.ChangePassword>
        </ModalBody>
    </ModalContent>
</Modal>