@using Blazorise;
@using dormitoryApps.Client.Services;
@using dormitoryApps.Shared.Model.Entity;
@inject OfficerServices _officerServices;
@inject SessionServices _sessionServices;

@code {
    Modal e;
    dormitoryApps.Client.Pages.Profile.Shared.ChangePassword password;
    Officer officer = new Officer();
    public async void Open()
    {
        await e.Show();
        officer = await _sessionServices.GetCurrentLogin();
    }
    async void SaveChanges()
    {
        bool oldPasswordCheck = await _officerServices.PasswordCheck(password.OldPassword);
        await Task.Delay(100);
        password.OldPasswordValidate = !oldPasswordCheck;
        password.PasswordValidate = (password.NewPassword != password.RetypePassword) || password.NewPassword.Contains('|') || string.IsNullOrEmpty(password.NewPassword);
        password.ValidateResponse();
        if (password.PasswordValidate || password.OldPasswordValidate)
        {
            return;
        }
        auto.Open("Processing");
        await Task.Delay(1);
        try
        {

            var res = await _officerServices.PasswordChanges(officer.Id, password.NewPassword, false);
            if(res)
            {
                await e.Hide();
                password.Reset();
                await Task.Delay(1);
                auto.Success("เปลี่ยนรหัสผ่านสำเร็จ");
                return;
            }
            await Task.Delay(1);
            auto.Failed("เปลี่ยนรหัสผ่านยไม่สำเร็จ");
        }
        catch (Exception x)
        {
            await Task.Delay(1);
            auto.Failed(x.Message);
        }
        StateHasChanged();
    }
}
<Modal @ref="e" Style="color:black">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>
                เปลี่ยนรหัสผ่าน
            </ModalTitle>
            <CloseButton></CloseButton>
        </ModalHeader>
        <ModalBody>
            <center>
                <h1>เปลี่ยนรหัสผ่าน</h1>
            </center>
            <dormitoryApps.Client.Pages.Profile.Shared.ChangePassword @ref="password"></dormitoryApps.Client.Pages.Profile.Shared.ChangePassword>
        </ModalBody>
        <ModalFooter>
            <Button class="btn btn-primary" @onclick="SaveChanges">เปลี่ยนรหัสผ่าน</Button>
            <Button class="btn btn-secondary" @onclick="()=>e.Hide()">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
<dormitoryApps.Client.Pages.Modal.Auto @ref="auto" />
@code {
    dormitoryApps.Client.Pages.Modal.Auto auto;
}