@page "/Buildings"
@using System;
@using System.Timers;
@using System.Threading;
@using dormitoryApps.Client.Services;
@using dormitoryApps.Shared.Model.Entity;
@using Microsoft.AspNetCore.WebUtilities;
@using Microsoft.Extensions.Primitives;  
@inject SessionServices _sessionServices;
@inject BuildingServices _buildingServices;
@inject NavigationManager _navigationManager;
@inject RoomServices _roomServices;
@implements IDisposable;
@code {
    System.Timers.Timer timer = new System.Timers.Timer();
    List<Buildings> buildings;
    List<Room> rooms = new List<Room>();
    bool isAdmin = false;
    private dormitoryApps.Client.Pages.Building.Modal.Create create;
    private dormitoryApps.Client.Pages.Building.Modal.Edit edit;
    protected override async void OnInitialized()
    {
        timer = new System.Timers.Timer(2000);
        timer.Elapsed += GetBuildings;
        timer.Enabled = true;
        isAdmin = await _sessionServices.IsAdmin();
    }
    private async void GetBuildings(object sender,ElapsedEventArgs e)
    {
        buildings = await _buildingServices.Get();
        if (buildings == null) buildings = new List<Buildings>();
        rooms = await _roomServices.GetRooms();
        await InvokeAsync(StateHasChanged);
    }
    public void RoomNav(int roomId)
    {
        _navigationManager.NavigateTo($"/Building/{roomId}");
    }
    void IDisposable.Dispose()
    {
        timer?.Dispose();
    }
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<center>
    <h1>อาคาร และ ห้องพัก</h1>
</center>
<br />
<br />
<br />
@if (isAdmin)
{
    <button class="btn btn-primary " @onclick="()=> create.Open()">เพิ่มอาคาร</button>
}
<br />
<br />
<table class ="table table-bordered" style="text-align:center">
    <thead class="table-dark">
        <tr>
            <th>รหัส</th>
            <th>ชื่ออาคาร</th>
            <th>จำนวนชั้น</th>
            <th>จำนวนห้อง</th>
            <th>จำนวนห้องว่าง</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="alert-success">
        @if(buildings == null)
        {
            <tr>
                <td colspan="6">Fetching...</td>
            </tr>
        }
        else if (buildings.Count==0)
        {
            <tr>
                <td colspan="6">ไม่พบอาคารในระบบ</td>
            </tr>
        }
        else
        {
            @foreach(var building in buildings)
            {
                <tr>
                    <td>@building.Id</td>
                    <td>@building.Name</td>
                    <td>@(rooms.Where(x=>x.Building==building.Id).Select(x=>x.Floor) != null && rooms.Where(x=>x.Building==building.Id).Select(x=>x.Floor).Count() > 0? rooms.Where(x=>x.Building==building.Id).Select(x=>x.Floor).Max() : 1)</td>
                    <td>@rooms.Where(x=>x.Building==building.Id).Count()</td>
                    <td>0</td>
                    <td>
                        @if(isAdmin)
                        {
                            <button class="btn btn-warning mx-1" data-toggle="tooltip" data-placement="bottom" title="แก้ไขMetadata" @onclick="()=>edit.Open(building.Id)" > <i class="edit outline icon"></i></button>
                        }                       
                        <button class="btn btn-info mx-1" data-toggle="tooltip" data-placement="bottom" title="ดูห้องพัก และ ข้อมูลภายใน" @onclick="()=>RoomNav(building.Id)" ><i class="building outline icon"></i></button>
                    </td>
                   
                </tr>
            }
        }
    </tbody>
</table>
<dormitoryApps.Client.Pages.Building.Modal.Create @ref="create"/>
<dormitoryApps.Client.Pages.Building.Modal.Edit @ref="edit"/>
