@page "/ForgotPassword"
@using dormitoryApps.Shared.Model.Entity;
@using dormitoryApps.Client.Services;
@inject OfficerServices _officerServices;

@code {
    int step = 1;
    string criteria;
    string criteriaException;
    bool criteriaCheck = false;
    Officer officer = new Officer();

    async void Check()
    {
        criteriaCheck = string.IsNullOrEmpty(criteria);
        criteriaException = "ห้ามเว้นว้าง";
        officer = await _officerServices.GetByUsername(criteria);
        if (officer == null || officer == new Officer())
        {
            step = 1;
            criteriaCheck = true;
            criteriaException = "ไม่พบชื่อผู้ใช้";
            StateHasChanged();
        }
        step = 2;
        StateHasChanged();
    }
}
<center>
    <h1>ลืมรหัสผ่าน</h1>
</center>
<br />
<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="form-group">
            <label for="text">Email หรือ ชื่อผู้ใช้</label>
            <input id="text" @bind-value="criteria" type="text" class="form-control @(criteriaCheck ? "is-invalid":"")">
            <small style="color:red;display:@(criteriaCheck ? "block":"none")">@criteriaException</small>
        </div>
        <br />
        <div class="form-group">
            <button name="submit" @onclick="Check" class="btn btn-primary">ค้นหา</button>
        </div>
    </div>
    <div class="col"></div>
</div>
<br />
@if (step > 1)
{
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="form-group">
                <label for="text">ชื่อพนักงาน</label>
                <input id="text" name="text" type="text" value="@($"{officer.Firstname} {officer.Surname}")" class="form-control" readonly>
            </div>
            <br>
            <div class="form-group">
                <label>สิ่งที่คุณทำได้</label>
                <div>
                    <div class="custom-controls-stacked">
                        <div class="custom-control custom-radio">
                            <input name="radio" id="radio_0" type="radio" class="custom-control-input" value="1">
                            <label for="radio_0" class="custom-control-label">ส่งลิ้งค์เปลี่ยนรหัสผ่านทางอีเมล</label>
                        </div>
                    </div>
                    <div class="custom-controls-stacked">
                        <div class="custom-control custom-radio">
                            <input name="radio" id="radio_1" type="radio" class="custom-control-input" value="2" disabled>
                            <label for="radio_1" class="custom-control-label">Option2</label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success">ส่งคำขอ Reset Password</button>
            </div>
        </div>
        <div class="col"></div>
    </div>
}
