
@code {
    public string NewPassword { get; set; } = string.Empty;
    public string RetypePassword { get; set; } = string.Empty;
    public string OldPassword { get; set; } = string.Empty;

    public bool PasswordValidate { get; set; } = false;
    public bool OldPasswordValidate { get; set; } = false;
    public void Reset()
    {
        PasswordValidate = false;
        OldPasswordValidate = false;

        NewPassword = string.Empty;
        RetypePassword = string.Empty;
        OldPassword = string.Empty;
    }
    private string ValidateCheck(bool item)
    {
        return item ? "is-invalid":"";
    }
}
 <div class="form-group">
        <label for="text">รหัสผ่านเดิม</label>
        <input id="text" @bind-value="OldPassword" type="password" class="form-control @ValidateCheck(OldPasswordValidate)">
    </div>
    <div class="form-group">
        <label for="text1">รหัสผ่านใหม่(ห้ามใช้ |)</label>
        <input id="text1" @bind-value="NewPassword" type="password" class="form-control @ValidateCheck(PasswordValidate)">
    </div>
    <div class="form-group">
        <label for="text2">ยืนยันรหัสผ่านใหม่</label>
        <input id="text2" @bind-value="RetypePassword" type="password" class="form-control @ValidateCheck(PasswordValidate)">
    </div>
