@page "/fetchdata"
@using dormitoryApps.Shared
@using dormitoryApps.Shared.Model.Entity;
@using dormitoryApps.Client.Services;
@inject HttpClient Http
@inject DepartmentServices departmentServices;

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (departments == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in departments)
            {
                <tr>
                    <td>@department.Id</td>
                    <td>@department.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
<input type="number" @bind="Nums" />
<button @onclick="Onclick1" >S1</button>
@if (string.IsNullOrEmpty(Names))
{
    @("No ID")
}
else
{
    @Names
}
@code {
    private List<Department>? departments;
    private string Names;
    int Nums;

    protected override async Task OnInitializedAsync()
    {
        departments = await departmentServices.Getdepartments();

    }
    private async Task Onclick1()
    {
        var dep = await departmentServices.GetById(Nums);
        Names = dep.Name;
    }
}
