


@inject NavigationManager navigationManager;
@code {
    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;
    public string NextLink { get; set; } = "/";
    public string Header { get; set; } = "!Oops";
    public string Details { get; set; } = "Something Went Wrong";
    public string Title { get; set; }
    public bool NextRequired { get; set; } = false;
    public bool ForceLoad { get; set; }=false;
    public bool IsClosed { get; private set; } = false;
    
    public void Open()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        IsClosed = true;
         if(NextRequired)
        {
            navigationManager.NavigateTo(NextLink,forceLoad:ForceLoad);
        }
        StateHasChanged();
       
    }

}



<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <center>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <img src="/Img/Close-2-icon.png" style="width:200px;height:200px;" />
                    <h1>@Header</h1>
                    <h2>@Details</h2>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">Close</button>
            </div>
        </div>
    </div>
</div>